<div class="main-container">

  <div class="left-container">
    <div class="navbar-container">
      <%= link_to root_path do %>
        <%= image_tag "logo.jpg", alt: "Nikki Beach", id: "img-logo" %>
      <% end %>
      <%= link_to "Create", new_cocktail_path, class: "primary-button" %>
    </div>

    <div class="content-container">
        <%= image_tag "cocktail_amaretto.png" %>
        <div class="home-content">
          <h1>Amaretto</h1>
          <p>
            Sweet 'n' sour - frothy with an almond buzz. An extra couple of dashes of bitters help balance the drink and add an extra burst of flavour.
          </p>
          <%= link_to 'Know more', cocktail_path(@cocktails.find(12)), class: "primary-button" %>
        </div>
    </div>
  </div>

  <div class="right-container">
    <% @cocktails.each do |cocktail| %>
      <%= link_to cocktail_path(cocktail) do %>
        <% if cocktail.photo.attached? %>
          <%= cl_image_tag cocktail.photo.key, height: 300 %>
        <% end %>
        <p><%= cocktail.name %></p>
      <% end %>
    <% end %>
  </div>

</div>
