<div class="main-container">
  <div class="left-container">
    <div class="navbar-container">
      <%= link_to root_path do %>
        <%= image_tag "Logo.jpeg", alt: "Nikki Beach", id: "img-logo" %>
      <% end %>
      <%= link_to "Create", new_cocktail_path, class: "primary-button" %>
    </div>

    <div class="content-container">
      <div class="home-card">
        <% @cocktails.each do |cocktail| %>
          <% if cocktail.photo.attached? %>
            <%= cl_image_tag cocktail.photo.key, height: 300, width: 400, crop: :fit %>
          <% end %>
          <h1><%= link_to cocktail.name, cocktail_path(cocktail) %></h1>
        <% end %>
      </div>
    </div>
  </div>

  <div class="right-container">
  </div>
</div>
