<div class="main-container">
  <div class="left-container">
    <div class="navbar-container">
      <%= link_to root_path do %>
        <%= image_tag "Logo.jpeg", alt: "Nikki Beach", id: "img-logo" %>
      <% end %>
      <%= link_to "Create", new_cocktail_path, class: "primary-button" %>
    </div>

    <div class="content-container">
      <div class="home-card">
        <%= cl_image_tag @cocktails.first.photo.key %>
        <div class="home-card-content">
          <h1><%= @cocktails.first.name %></h1>
          <p>
            Ce breuvage de caractère, très populaire dans les années 60, est toujours à la mode. Le Old Fashioned aurait été inventé en 1884 par un officier retraité du nom de James E. Pepper.
          </p>
          <%= link_to 'Know more', cocktail_path(@cocktails.first), class: "primary-button" %>
        </div>
      </div>
    </div>
  </div>

  <div class="right-container">
    <% @cocktails.each do |cocktail| %>
      <% if cocktail.photo.attached? %>
        <%= link_to cocktail_path(cocktail) do %>
          <%= cl_image_tag cocktail.photo.key %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
