<div class="main-container">

  <div class="left-container">
    <div class="navbar-container">
      <%= link_to root_path do %>
        <%= image_tag "Logo.jpeg", alt: "Nikki Beach", id: "img-logo" %>
      <% end %>
      <%= link_to "Create", new_cocktail_path, class: "primary-button" %>
    </div>

    <div class="content-container">
        <%= cl_image_tag @cocktails.last.photo.key %>
        <div class="home-content">
          <h1><%= @cocktails.last.name %></h1>
          <p>
            Ce cocktail a été créé en Italie dans les années 1950 – comme le Old Fashioned - mais c'est vraiment 10 ans plus tard qu'il serait devenu à la mode, dans les bars américains.
          </p>
          <%= link_to 'Know more', cocktail_path(@cocktails.first), class: "primary-button" %>
        </div>
    </div>
  </div>

  <div class="right-container">
    <% @cocktails.each do |cocktail| %>
      <% if cocktail.photo.attached? %>
        <%= link_to cocktail_path(cocktail) do %>
          <%= cl_image_tag cocktail.photo.key, height: 300 %>
          <p><%= cocktail.name %></p>
        <% end %>
      <% end %>
    <% end %>
  </div>

</div>
